/* Global */
/* font */
@font-face {
  font-family: shabnam;
  src: url("./assets//shabnam-font//Shabnam.ttf");
}
:root {
  --purple: #ac32e4;
  --darkpurple: #3c0a53;
  --blue: #4801ff;
  --darkblue: #0c2335;
  --background: #031624;
  --fire: #e25822;
  --backgroundfire: linear-gradient(135deg, rgb(85, 3, 3), #ff0000);
}
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  font-family: shabnam;
  box-sizing: border-box;
  color: #ffffff;
}
body {
  padding: 0;
  margin: 0;
  font-family: shabnam;
}
a {
  color: unset;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
/* Local */
.App {
  width: 100%;
  height: 100%;
  background-color: var(--background);
}
